<h2>Producer</h2>
<p id="producerSuccess">
    <span>Successful: <strong>${producerSuccess}</strong> (average execution time: <strong>${producerSuccessAverageTime} milisecond(s)</strong>)</span>
</p>

<p id="producerFailed">
    <span>Failures: <strong>${producerFailed}</strong> (average execution time: <strong>${producerFailedAverageTime} milisecond(s)</strong>)</span>
</p>        

<h2>Consumer</h2>
<p id="consumerSuccess">
    <span>Successful: <strong>${consumerSuccess}</strong> (average execution time: <strong>${consumerSuccessAverageTime} milisecond(s)</strong>)</span>
</p>

<p id="consumerFailed">
    <span>Failures: <strong>${consumerFailed}</strong> (average execution time: <strong>${consumerFailedAverageTime} milisecond(s)</strong>)</span>
</p> 

<h2>Consumer First Attempt</h2>
<p id="consumerFirstAttemptSuccess">
    <span>Successful: <strong>${consumerSuccessFirstAttempt}</strong> (average execution time: <strong>${consumerSuccessFirstAttemptAverageTime} milisecond(s)</strong>)</span>
</p>

<p id="consumerFirstAttemptFailed">
    <span>Failures: <strong>${consumerFailedFirstAttempt}</strong> (average execution time: <strong>${consumerFailedFirstAttemptAverageTime} milisecond(s)</strong>)</span>
</p> 

<h2>Consumer After Retry</h2>
<p id="consumerSuccess">
    <span>Successful: <strong>${consumerSuccessAfterRetry}</strong> (average execution time: <strong>${consumerSuccessAfterRetryAverageTime} milisecond(s)</strong>)</span>
</p>

<p id="consumerFailed">
    <span>Failures: <strong>${consumerFailedAfterRetry}</strong> (average execution time: <strong>${consumerFailedAfterRetryAverageTime} milisecond(s)</strong>)</span>
</p> 