<!DOCTYPE html>

<html>
	<head>
		<title>Mashup.fm - Elastic Search Admin</title>
		<meta charset="UTF-8">
		<link rel="stylesheet" href="@{'/public/elasticsearch/es/es.css'}">
		<link rel="stylesheet" href="@{'/public/elasticsearch/jsacx/src/jsacx-widgets.css'}">
		<script src="@{'/public/elasticsearch/jsacx/src/jquery.js'}"></script>
		<script src="@{'/public/elasticsearch/jsacx/src/jsacx.js'}"></script>
		<script src="@{'/public/elasticsearch/lang/en_strings.js'}"></script>
		<script src="@{'/public/elasticsearch/jsacx/src/jsacx-widgets.js'}"></script>
		<script src="@{'/public/elasticsearch/jsacx/src/jsacx-data.js'}"></script>
		<script src="@{'/public/elasticsearch/es/core.js'}"></script>
		<script src="@{'/public/elasticsearch/es/widgets.js'}"></script>
		<script src="@{'/public/elasticsearch/graphael/g.raphael.standalone.js'}"></script>
		<script src="@{'/public/elasticsearch/dateRangeParser/date-range-parser.js'}"></script>
		<script>
			$(function() {
				var args = location.search.substring(1).split("&").reduce(function(r, p) {
					r[decodeURIComponent(p.split("=")[0])] = decodeURIComponent(p.split("=")[1]); return r;
				}, {});
				new es.ElasticSearchHead("body", { id: "es", base_uri: args["base_uri"] });
			});
		</script>
	</head>
	<body></body>
</html>