Source: play-1.1-resteasy-module-1.3
Section: unknown
Priority: extra
Maintainer: Stephane Epardaud <stephane@epardaud.net>
Build-Depends: debhelper (>= 7), play-1.1
Standards-Version: 3.8.3

Package: play-1.1-resteasy-module-1.3
Architecture: all
Depends: ${misc:Depends}
Description: RESTEasy module for Play!
 The RESTEasy module for Play! Framework
