#!/usr/bin/make -f
#-*- makefile -*-
# Made with the aid of dh_make, by Craig Small
# Sample debian/rules that uses debhelper. GNU copyright 1997 by Joey Hess.
# Some lines taken from debmake, by Christoph Lameter.

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

VERSION=1.3
MODULE_NAME=resteasy
PLAY_VERSION=1.1
APP=play-$(PLAY_VERSION)-$(MODULE_NAME)-module-$(VERSION)
MODULE=$(MODULE_NAME)-$(VERSION)

DEB_PATH=debian/$(APP)
INSTALL_PATH=/usr/share/play-modules/$(PLAY_VERSION)/$(MODULE)

%:
	dh  $@

override_dh_auto_build: 
	/bin/echo -e '\n\n' | play-$(PLAY_VERSION) build-module

override_dh_auto_install: 
	install -d $(DEB_PATH)$(INSTALL_PATH)
	rsync -r app lib conf src $(DEB_PATH)$(INSTALL_PATH)